In [1]:
import pandas as pd
import numpy as np

In [2]:
toy_df=pd.DataFrame({'numbers':[1,2,3,np.nan,np.nan,np.nan,7]})
toy_df

   numbers
0      1.0
1      2.0
2      3.0
3      NaN
4      NaN
5      NaN
6      7.0

In [4]:
toy_df.isnull().sum()

numbers    3
dtype: int64

In [5]:
dropped_toy_df=toy_df.dropna()
dropped_toy_df

   numbers
0      1.0
1      2.0
2      3.0
6      7.0

In [6]:
filled_toy_df=toy_df.fillna(0)
filled_toy_df

   numbers
0      1.0
1      2.0
2      3.0
3      0.0
4      0.0
5      0.0
6      7.0

In [7]:
backfilled_toy_df=toy_df.fillna(method='bfill')
backfilled_toy_df

   numbers
0      1.0
1      2.0
2      3.0
3      7.0
4      7.0
5      7.0
6      7.0

In [8]:
fowardfilled_toy_df=toy_df.fillna(method='ffill')
fowardfilled_toy_df

   numbers
0      1.0
1      2.0
2      3.0
3      3.0
4      3.0
5      3.0
6      7.0

In [9]:
meanfilled_toy_df=toy_df.fillna(toy_df['numbers'].mean())
meanfilled_toy_df

   numbers
0     1.00
1     2.00
2     3.00
3     3.25
4     3.25
5     3.25
6     7.00

In [10]:
interpolated_toy_df=toy_df.interpolate()
interpolated_toy_df

   numbers
0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
5      6.0
6      7.0